@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 257 100% 2%;
  --foreground: 0 0% 100%;
  --border: 0 0% 100% / 0.08;
}

body {
  @apply bg-[#05010d] text-white antialiased;
}
